<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CoursePackageMapper">

    <resultMap type="CoursePackage" id="CoursePackageResult">
        <result property="id"    column="id"    />
        <result property="packageName"    column="package_name"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCoursePackageVo">
        select id, package_name, description, create_time from course_package
    </sql>

    <select id="selectCoursePackageList" parameterType="CoursePackage" resultMap="CoursePackageResult">
        <include refid="selectCoursePackageVo"/>
        <where>
            <if test="packageName != null  and packageName != ''"> and package_name like concat('%', #{packageName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>

    <select id="selectCoursePackageById" parameterType="Long" resultMap="CoursePackageResult">
        <include refid="selectCoursePackageVo"/>
        where id = #{id}
    </select>

    <insert id="insertCoursePackage" parameterType="CoursePackage" useGeneratedKeys="true" keyProperty="id">
        insert into course_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageName != null and packageName != ''">package_name,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageName != null and packageName != ''">#{packageName},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateCoursePackage" parameterType="CoursePackage">
        update course_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="packageName != null and packageName != ''">package_name = #{packageName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoursePackageById" parameterType="Long">
        delete from course_package where id = #{id}
    </delete>

    <delete id="deleteCoursePackageByIds" parameterType="String">
        delete from course_package where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectPackagesByCourseId" parameterType="long" resultType="com.ruoyi.system.domain.CoursePackage">
        SELECT cp.id, cp.package_name, cp.description, cp.create_time
        FROM course_package cp
                 INNER JOIN course_package_relation rel ON cp.id = rel.package_id
        WHERE rel.course_id = #{courseId}
    </select>



</mapper>